{% load static %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>




<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-117917519-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117917519-1');
    </script>
        <meta charset="UTF-8">
        <title>my_project</title>
        <link rel="stylesheet" href="{% static 'test_interface/rc-slider@6.1.2.css' %}">
        <link rel="stylesheet" href="{% static 'test_interface/react-select@1.0.0-rc.3.min.css' %}">
        <link rel="stylesheet" href="{% static 'test_interface/react-virtualized@9.9.0.css' %}">
        <link rel="stylesheet" href="{% static 'test_interface/react-virtualized-select@3.1.0.css' %}">
        <link rel="stylesheet" href="{% static 'test_interface/react-dates@12.3.0.css' %}">
        <link rel="stylesheet" href="{% static 'test_interface/STREAM.css' %}">
        <link rel="stylesheet" href="{% static 'test_interface/Loading-State.css' %}">
    <script src="{% static 'test_interface/jquery-3.3.1.min.js' %}"></script>


    <!-- Custom styles for this template -->
    <!link href="jumbotron.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <style>
        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

      .active1 {
          float: left;
          padding: 8px;
          color: #9d9d9d;
          text-decoration: none !important;
          font-size: 25px;
          position: relative;
          right: 23mm;
          border: 0px solid #73AD21;

        }
      .active2 {
          float: right;
          padding: 0px;
          color: white;
          text-decoration: none !important;
          font-size: 18px;
          position: relative;
          left: 140mm;
          margin-right: 120mm;
          border: 0px solid #73AD21;
        }
      .active22, .btn22:hover {
          color: white;
          text-decoration: none !important;
        }


    </style>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container navbar-collapse collapse w-100" >
          <a class="nav-item  active1" href="{% url 'test-home' %}"><i class="fas fa-house-user"></i> Home</a>
          <a class="nav-item btn22 active22 active1" href="{% url 'test-upload' %}"><i class="fas fa-rocket"></i> Explore</a>
          <a class="nav-item  active1" href="#"><i class="fas fa-feather"></i> Cite</a>
          <a class="nav-item  active1" href="{% url 'test-about' %}"><i class="fas fa-question-circle"></i> About</a>
        </div>
        <div class="container navbar-collapse collapse w-100" >
          <aa class="nav-item active2" href="#"><i class="fas fa-history"></i> Version 1.0.0</aa>
        </div>
      </div>
    </nav>

    <br><br><br>

    <!img src="{% static 'test_interface/logo.png' %}" width="10%" class="center">
    <h2 style="margin-left: 10mm;">Single-Cell Differential Co-expression Analysis</h2>

    <div class="row">
    </div>
    <div class="row">
       <div class="five columns" style="border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220); border-radius: 10px; border-spacing: 15px; padding: 0mm 6mm 0mm 6mm; margin-left: 10mm;">
          <div class="row">
             <div class="five columns" style="border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220);">
                <h3 id="buffer5">Personal Files</h3>
                <div>
                   <form id="required-files-upload-file" method="POST" enctype="multipart/form-data" name="te">
                      <div>

                         <label>
                         </label>
                          {% csrf_token %}
                         <!input type="file" accept=".h5ad" name="Data_Matrix">
                          {{ form.as_p }}
                          <br>
                          <button class="btn btn-primary btn-lg" type="submit">Upload</button>

                      </div>
                   </form>
                   <br><br>
                    <h3 id="buffer5">Samples Selection</h3>
                </div>

                 <form>
                      Select Sample One:
                      <select id="mySelect1">
                        {% for x in uniq_leb %}
                        <option value={{ x }}>{{ x }}</option>
                        {% endfor %}
                      </select>
                 </form>


                 <form action="{% url 'test-about' %}" method="POST" enctype="multipart/form-data" >
                      Select Sample Two:
                      <select id="mySelect2" name="mySelect2">
                        {% for x in uniq_leb %}
                        <option value={{ x }}>{{ x }}</option>
                        {% endfor %}
                      </select>
                 </form>

                <br>
                <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-primary btn-lg" role="button" onclick="go()">Select</button>
                <button class="btn btn-warning btn-lg" role="button" href="{% url 'test-upload' %}" >Reset&nbsp;</button>
                </div>

                 <p id="s1"></p>
                 <p id="s2"></p>
                <br>
                <h3 id="buffer66"></h3>

                 <br><br><br><br><br>

          <! -- End of the first column -->
          </div>




             <div class="six columns" style="border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220);">
                <h3 id="buffer5">Parameters</h3>
             </div>

              <div class="12 columns text-center" style="border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220);">
                <h3 id="buffer77">Compute</h3>
                <button class="btn btn-primary" type="button" onclick="location.href='{% url 'test-result' %}'" >Start</button>
             </div>


          </div>
       </div>





       <div class="seven columns" style="border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220); border-radius: 10px; border-spacing: 15px; padding: 10px; margin-left: 2mm; margin-right: 2mm;">

           <canvas id="myChart"></canvas>
             <div class="six columns" style="border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220);">
                <h3 id="buffer5">Data Example</h3>
                <button id="load_example_data" href="{% url 'test-about' %}">Run Current Example</button>
             </div>
       <div class="seven columns" style="border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220);"></div>

       </div>
          <hr>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script> src="{% static 'test_interface/main.js' %}" </script>

</body>

     <script>
        function myFunction() {
          var s1 = 'test';
          var s2 = document.getElementById("mySelect2").value;
          document.getElementById("s1").innerHTML = s1;
          document.getElementById("s2").innerHTML = s2;
        }
    </script>

    <script>
    function myFunctiontest() {
      document.getElementById("s1").innerHTML = "Paragraph !";
    }
    </script>

    <script>

        function go(val) {
            var s1 = document.getElementById("mySelect1").value;
            var s2 = document.getElementById("mySelect2").value;
            $.ajax({
                url : "{% url 'test-about' %}", // the endpoint
                type : "GET", // http method
                data : { sample_1 : s1,
                    sample_2 : s2
                },
            });


        };

    </script>

    <script type="text/javascript" src={% static "JavaScript/intial_plot_anndata.js" %}></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var plot_data = {{ ploting_data|safe }}
        var scatterChart = new Chart(ctx, {
            type: 'scatter',
            data: {


            },
            options: {
                legend:{display:true,
                boxWidth: 1,
                fontSize: 56,
                },
            scales: {
                xAxes: [{
                        type: 'linear',
                        position: 'bottom'
                    }]
                }
            }
        });

        function addData(chart, data, label, color) {
                chart.data.datasets.push({
                label: label,
                backgroundColor: color,
                data: data,
                pointBorderWidth : 0.8,
                pointBorderColor : 'black',
                pointRadius : '5',
            });

            chart.update();
        }



        var arrayLength = plot_data.length;
        for (var i = 0; i < arrayLength; i++) {
            addData(scatterChart,plot_data[i][0],plot_data[i][1],plot_data[i][2]);
        }
        scatterChart.options.legend.labels.fontsize.push(55);
        scatterChart.update();
    </script>


</html>
