{% load static %}
{% load rtags %}
{% load index %}
{% load crispy_forms_tags %}
{% load index %}

<!DOCTYPE html>
<html lang="en">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>




<head>

    <script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-venn.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.9.0/themes/pastel.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-117917519-1"></script>
        <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117917519-1');
    </script>
        <meta charset="UTF-8">
        <title>DiNiro</title>
        <link rel="stylesheet" href="{% rstatic 'test_interface/rc-slider@6.1.2.css' %}">
        <link rel="stylesheet" href="{% rstatic 'test_interface/react-select@1.0.0-rc.3.min.css' %}">
        <link rel="stylesheet" href="{% rstatic 'test_interface/react-virtualized@9.9.0.css' %}">
        <link rel="stylesheet" href="{% rstatic 'test_interface/react-virtualized-select@3.1.0.css' %}">
        <link rel="stylesheet" href="{% rstatic 'test_interface/react-dates@12.3.0.css' %}">
        <link rel="stylesheet" href="{% rstatic 'test_interface/STREAM.css' %}">
        <link rel="stylesheet" href="{% rstatic 'test_interface/Loading-State.css' %}">
        <link rel="stylesheet" href="{% rstatic 'test_interface/spinner.css' %}">
    <script src="{% rstatic 'test_interface/jquery-3.3.1.min.js' %}"></script>


    <!-- Custom styles for this template -->
    <!link href="jumbotron.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% rstatic 'test_interface/css/all.css' %}">
    <!link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"
          integrity="sha384-9IE49Wand+n6ztme8e7Gh51OalpKkPG5z23U2F7SicqKr5It9ttcDbg6dNlhYeTE" crossorigin="anonymous">

    <style>
        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

      .active1 {
          color: #7d7d7d;
          float: left;
          padding: 0px;
          {#color: #9d9d9d;#}
          text-decoration: none !important;
          font-size: 25px;
          position: relative;
          right: 0mm;
          border: 0px solid #73AD21;

        }
      .active2 {
          float: right;
          padding: 0px;
          color: white;
          margin-top: 6px;
          text-decoration: none !important;
          font-size: 18px;
          position: relative;
          left: 0mm;
          margin-right: 0mm;
          border: 0px solid #73AD21;
        }
      .active22, .btn22:hover {
          color: #FFFFFF;
          text-decoration: none !important;
        }
      .selection-with {
         width:300px;
      }
      .graph-container {
            width:100% !important;
            height:100% !important;
      }
      .navbar-custom {
          height: 50px;
      }
      .footer-custom {
          height: 40px;
          padding-top: 10px;
      }
      .act {
        border-style: solid;
        border-width: 0.5mm;
        border-color: deepskyblue;
        background-color: deepskyblue;
        border-radius: 2px;
        margin-right: 0px;
        color: white
    }
    .pas {
        background-color: white;
        border-radius: 2px;
        color: #33C3F0;
        border-style: solid;
        border-width: 0.5mm;
        border-color: deepskyblue;
    }
      .nopadding {
           padding: 0 !important;
           margin: 0 !important;
      }
      .anychart-credits {
           display: none;
      }
      html, body {
        height: 100%;
      }

    </style>


</head>

<body>
       <nav class="navbar navbar-inverse navbar-custom navbar-fixed-top">
          <div class="container-fluid navbar-collapse collapse w-100" >
              <a class="nav-item btn22 active22  active1" href="{% rurl 'test-home' %}"><i class="fad fa-house-user"></i> Home</a>
              <a class="nav-item btn22 active22  active1" style="padding-left: 20px" href="{% rurl 'test-upload' %}"><i class="fas fa-external-link-alt"></i> Explore</a>
              <a class="nav-item  btn22 active22  active1" style="padding-left: 20px" href="{% rurl 'test-about' %}"><i class="fal fa-info-square"></i> Documentation</a>
              <aa class="nav-item active2" style="padding-left: 20px" href="#"><i class="fab fa-github-square"></i> Version 1.0.0</aa>
          </div>
        </nav>

{#    <div id="p3"> Here:</div>#}
{#    <input id="tableholder" style="max-height: 0px" value="{{ modules|safe }}" style="display: none"> </input>#}
{#    <h2 style="margin-left: 7mm;margin-top: 0.5px;border-style: solid; border-width: 0mm; border-color: rgb(220, 220, 220);"><i class="fas fa-flask"></i>  Analysis Results</h2>#}
            <div class="row" style="margin: 55px 10px 10px 10px">
                    <div class="col-8" style="border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220); border-radius: 10px; border-spacing: 0px;">
                        <h4><i class="fas fa-flask"></i> &nbsp Analysis Results</h4>
                    </div>
                    <div class="col-4" style="border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220); border-radius: 10px; border-spacing: 0px;">
                        <h4><i class="fas fa-user"></i> &nbsp   Session: <a id="sessionbox" style=" color: #1EAEDB;font-size: 26px;font-weight: bold; font-family: AnjaliOldLipi">&nbsp {{ sessionname }}</a></h4> <div id="printdiv"></div>
                    </div>
            </div>

           <div class="text-center" style="margin-top: 0px">
                <button id="table_button" class="btn btn-primary" style="min-width: 300px" type="button" onclick="table_switch()">Table</button>
                <!button id="network_button" class="btn btn-primary" style="min-width: 300px" type="button" onclick="network_switch()"><!button>
                <button id="network2_button" class="btn btn-primary" style="min-width: 300px" type="button" onclick="network2_switch()">Network</button>
                <button id="report_button" class="btn btn-primary" style="min-width: 300px" type="button" onclick="report_switch()">Summary</button>
            </div>
    <div id="table" class="row center" style="border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220); border-radius: 10px; border-spacing: 5px; padding: 1mm; padding-top: 0px;margin-bottom: 10mm; margin-left: 5mm; margin-right: 5mm;">

        <div class="row" style="margin-bottom: 0px;text-align: right;border-style: solid; border-width: 1mm; border-color: white;">
             <div class="col-6" style="padding: 0px;margin: 0px;border-style: solid; border-width: 1mm; border-color: white;"></div>
             <div class="col-5" style="margin-right: 0px;margin-left: auto;display: block;max-height: 100px;width: 100%;border-style: solid; border-width: 1mm; border-color: white;">
                 <label style="text-align: center">Network Legend</label>
                 <div class="row " style="max-height: 100px;padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px;border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220);padding: 0px;border-radius: 10px;">
                     <div class="col-2" style="width: 25%;border-style: solid; border-width: 0mm; border-color: red">
                            <label style="">&nbsp&nbspTF</label>
                          <img src="{% rstatic 'test_interface/tf.png' %}" width="40%" style="text-align: center;border-style: solid; border-width: 0mm; border-color: red">
                        </div>

                        <div class="col-2" style="width: 20%;border-style: solid; border-width: 0.5mm; border-color: white">
                            <label style="">Genes</label>
                          <img src="{% rstatic 'test_interface/gene.png' %}" width="40%">
                        </div>

                        <div class="col-2" style="width: 20%;border-style: solid; border-width: 0.5mm; border-color: white">
                            <label style="">Common</label>
                          <img src="{% rstatic 'test_interface/gray.png' %}" width="40%">
                        </div>
                        <div class="col-2" style="width: 20%;border-style: solid; border-width: 0.5mm; border-color: white">
                            <label style="">{{ s1n }}</label>
                          <img src="{% rstatic 'test_interface/blue.png' %}" width="40%">
                        </div>
                        <div class="col-2" style="width: 20%;border-style: solid; border-width: 0.5mm; border-color: white">
                            <label style="">{{ s2n }}</label>
                          <img src="{% rstatic 'test_interface/red.png' %}" width="40%">
                        </div>
                </div>
             </div>
       </div>

        <div class="wrapper center" style="width: 100%;border-style: solid; border-width: 0.5mm; border-color: rgb(255, 255, 255);padding-top: 0px">

            <div class="container-fluid my-8" style="padding: 0px;border-style: solid; border-width: 0.5mm; border-color: rgb(255, 255, 255);">

                <div class="card border-0 shadow my-0 center">
                    <div class="card-body p-3" style="padding: 0px;border-style: solid; border-width: 0.5mm; border-color: white;">
                        <div class="table-responsive">
                            <h6 class="mt-4">

              <table border="0" class="dataframe table table-striped table-bordered">
              <thead>
                <tr style="text-align: center;">
                  <th style="text-align: center;">Rank</th>
                  <th style="text-align: center;">Module TF</th>
                  <th style="text-align: center;">Genes</th>
                  <th style="text-align: center;">GO Terms</th>
                  <th style="text-align: center;">Module Network</th>
                </tr>
              </thead>
              <tbody>
              {% for x in table %}
                <tr>
                  <td>{{ x|index:0 }}</td>
                  <td>{{ x|index:1 }}</td>
                  <td>
                       <div style="height: 400px; overflow: auto;">
{#                              <p style="font-weight: bold;text-align: center;min-width: 150px">Genes Nr. :{{ x|index:2 }} </p>#}
{#                               <br>#}
                              {% for g in x|index:4 %}
                                   <pre>{{ g }} </pre>
                             {% endfor %}
                      </div>
                  </td>
                  <td>
                     <div style="">
                          {% for y in x|index:3 %}
                          <pre>{{ y }} </pre>
                         {% endfor %}
                     </div>
                  </td>

                  <td style="height: 400px;width: 400px;">
{#                      <label><button style="max-height: 0px;display: none" class="btn btn-primary" id="{{ x|index:1 }}" onclick="plot(this.id)">click</button></label>#}
                      <div class="col"  style="height: 400px;width: 400px;text-align: center;margin: auto;padding: 0px;border-radius: 5px;border-style: solid; border-width: 0.5mm; border-color: gray; max-width: 400px">
                          <div id="{{ x|index:1 }}+{{ x|index:1 }}" style="height: 100%;border-style: solid; border-width: 0mm; border-color: red;" ></div>
                      </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              </table>

                            </h6>
                        </div>
                    </div>
                </div>

            </div>

        </div>





        </div>
    </div>

    <! network view>
    <div id="network" class="row" style="display: none; border-style: solid; border-width: 1mm; border-color: rgb(220, 220, 220); border-radius: 10px; border-spacing: 15px; padding: 2mm; margin-bottom: 10mm; margin-left: 5mm; margin-right: 5mm;">
        <div class="container-fluid" style="border-style: solid; border-width: 0mm; border-color: rgb(220, 220, 220);">
        <div class="row" style="border-style: solid; border-width: 0mm; border-color: rgb(220, 220, 220);">
        <div class="col-2" style="border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220);" >
            <div class="shadow p-3 mb-5 bg-white rounded" style="width: 20rem;  margin-left: 10mm;">

                <div class="container">
                  <h0><i class="fas fa-check-square"></i> Choose Modules</h0>
                  <form>
                      {% for x in table %}
                        <div class="checkbox">
                          <!label><!input type="checkbox" value="checked" id="{{ x|index:1 }}" oninput="plot(this.id)">{{ x|index:1 }}<!/label>
                        </div>
                      {% endfor %}
                  </form>
                </div>


            </div>
        </div>


        <div class="col-9" style="border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220);margin-left: 50px">
                <h6 id="demo">Networks</h6>
            <div class="shadow p-3 mb-5 bg-white rounded text-center">
                <div class="w-100" id="networks" style="border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220); width: 100%;height: 600px"></div>
            </div>
                  <div class='row'>
                        <div class="col-md-1" style="border-style: solid; border-width: 0mm; border-color: rgb(0, 220, 220);">
                            <label>TFs</label>
                          <img src="{% rstatic 'test_interface/tf.png' %}" width="50%">
                        </div>

                        <div class="col-md-1">
                            <label>Genes</label>
                          <img src="{% rstatic 'test_interface/gene.png' %}" width="50%">
                        </div>

                        <div class="col-md-1">
                            <label>Common</label>
                          <img src="{% rstatic 'test_interface/gray.png' %}" width="50%">
                        </div>
                        <div class="col-md-1">
                            <label>{{ s1n }}</label>
                          <img src="{% rstatic 'test_interface/blue.png' %}" width="50%">
                        </div>
                        <div class="col-md-1">
                            <label>{{ s2n }}</label>
                          <img src="{% rstatic 'test_interface/red.png' %}" width="50%">
                        </div>
                  </div>
              </div>
    </div>
    </div>
    </div>
    <! network2 view>
    <div id="network2" class="row" style="display: none; border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220); border-radius: 10px; border-spacing: 0px; padding: 2mm; margin-bottom: 50px; margin-left: 5mm; margin-right: 5mm;">
         <div class='row' style="max-height: 100px;margin-bottom: 0px;border-style: solid; border-width: 0mm; border-color: red;margin-top: 0px;margin-right: 5px;margin-left: 5px">
             <div class="col-8" style="max-height: 100px;border-style: solid; border-width: 0mm; border-color: green;padding: 0">
                <div class=""><p style="font-size: 15px"><i style="font-size: 17px; color: Tomato;" class="far fa-info-square"></i>&nbsp You can search genes of interest through the network (As comma-separated values).</p></div>
                <input placeholder="&nbsp Genes to search in the network..." type="text" name="designation" data-role="tagsinput" id="tags_id" style="width: 500px">
                <button id="changeData" class="btn btn-primary" style="min-width: 50px;margin-bottom: 4px" type="button" onclick="changeData()">Search</button>
                 <p> <span style="font-weight:bold;">Examples :</span>NPC2, TYMP, LST1</p>
                <p id="p"></p>
                <br>
             </div>

             <div class="col-4 nopadding" style="display: none;max-height: 100px;width: 100%;border-style: solid; border-width: 1mm; border-color: green;">
                 <label style="text-align: center">Network Legend</label>
                 <div class="row nopadding" style="max-height: 100px;width: 100%;border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220);padding: 0px;border-radius: 10px;">
                        <div class="col-2 nopadding" style="border-style: solid; border-width: 0.5mm; border-color: white"></div>
                        <div class="col-2 nopadding" style="width: 25%;border-style: solid; border-width: 0mm; border-color: red">
                            <label style="">&nbsp&nbspTF</label>
                          <img src="{% rstatic 'test_interface/tf.png' %}" width="40%" style="text-align: center;border-style: solid; border-width: 0mm; border-color: red">
                        </div>

                        <div class="col-2 nopadding" style="width: 20%;border-style: solid; border-width: 0.5mm; border-color: white">
                            <label style="">Genes</label>
                          <img src="{% rstatic 'test_interface/gene.png' %}" width="40%">
                        </div>

                        <div class="col-2 nopadding" style="width: 20%;border-style: solid; border-width: 0.5mm; border-color: white">
                            <label style="">Common</label>
                          <img src="{% rstatic 'test_interface/gray.png' %}" width="40%">
                        </div>
                        <div class="col-2 nopadding " style="width: 20%;border-style: solid; border-width: 0.5mm; border-color: white">
                            <label style="">{{ s1n }}</label>
                          <img src="{% rstatic 'test_interface/blue.png' %}" width="40%">
                        </div>
                        <div class="col-2 nopadding" style="width: 20%;border-style: solid; border-width: 0.5mm; border-color: white">
                            <label style="">{{ s2n }}</label>
                          <img src="{% rstatic 'test_interface/red.png' %}" width="40%">
                        </div>
                </div>
             </div>

        </div>
        <div class="row" style="height: calc(80vh);border-style: solid; border-width: 0.5mm; border-color: white">
            <div class="col-11" style="border-style: solid; border-width: 0.5mm; border-color: white">
                <div id="network_spinner" class="container-fluid center" style="display: none;text-align: center;border-style: solid; border-width: 1mm; border-color: rgb(220, 220, 220); border-radius: 10px;width: 100%; height: border-box;height: 92%;margin-bottom: 2px;">

                            <div style="margin: 0px;left: 45%;top: 40%;position: absolute;border-style: solid; border-width: 0mm; border-color: red"><div class="d-flex justify-content-center" style="border-style: solid; border-width: 0mm;"><div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div><div class="d-flex justify-content-center" style="border-style: solid; border-width: 0mm;"><h4>Network Loading..</h4></div></div>

                </div>
                <div id="networks2" class="shadow p-0 mb-0 bg-white rounded container-fluid center" style="border-style: solid; border-width: 0.5mm; border-color: black; border-radius: 10px;width: 100%; height: border-box;height: 92%;margin-bottom: 2px;"></div>
                <div class="row" style="text-align: center;border-style: solid; border-width: 0mm; border-color: orangered">
                    <div class="center">
                    <button id="networkscreenshot" class="btn btn-primary" style="max-width: 150px; margin-bottom: 0px;border-style: solid; border-width: 0mm; border-color: red" type="button"><i class="fas fa-camera"></i>&nbsp;Screenshot</button>

                                <div class="btn-group" role="group" style="border-style: solid; border-width: 0mm; border-color: black">
                                    <button class="btn act" id="physicson" role="button">Physics ON</button>
                                    <button class="btn pas" id="physicsoff"  role="button">off</button>
                                </div>
                    </div>
                </div>

            </div>
            <div class="col-1" style="padding-left: 0px !important;max-height: calc(100vh); border-style: solid; border-width: 0.5mm; border-color: white">

                            <div style="padding-top: calc(100vh - 98vh)!important;padding-bottom: calc(100vh - 98vh)!important;;width:100%;margin-right: 0px;border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220);border-radius: 10px;">
                                   {#<label class="row nopadding" style="margin-top: calc(100vh - 98vh)!important;margin-bottom: calc(100vh - 98vh)!important;text-align: center">Network Legend</label>#}
                                    <div class="row nopadding" style="width: 100%;border-style: solid; border-width: 0.5mm; border-color: white">
                                        <label style="width: 100%;text-align: center">&nbsp&nbspTF</label>
                                      <div style="text-align: center"><img src="{% rstatic 'test_interface/tf.png' %}" width="40%" style="text-align: center;border-style: solid; border-width: 0mm; border-color: red"></div>
                                    </div>

                                    <div class="row nopadding" style="width: 100%;border-style: solid; border-width: 0.5mm; border-color: white">
                                        <label style="width: 100%;text-align: center">Genes</label>
                                      <div style="text-align: center"><img src="{% rstatic 'test_interface/gene.png' %}" width="40%"></div>
                                    </div>

                                    <div class="row nopadding" style="width: 100%;border-style: solid; border-width: 0.5mm; border-color: white">
                                        <label style="width: 100%;text-align: center">Common</label>
                                      <div style="text-align: center"><img src="{% rstatic 'test_interface/gray.png' %}" width="40%"></div>
                                    </div>
                                    <div class="row nopadding " style="width: 100%;border-style: solid; border-width: 0.5mm; border-color: white">
                                        <label style="width: 100%;text-align: center">{{ s1n }}</label>
                                      <div style="text-align: center"><img src="{% rstatic 'test_interface/blue.png' %}" width="40%"></div>
                                    </div>
                                    <div class="row nopadding" style="width: 100%;border-style: solid; border-width: 0.5mm; border-color: white">
                                        <label style="width: 100%;text-align: center">{{ s2n }}</label>
                                      <div style="text-align: center"><img src="{% rstatic 'test_interface/red.png' %}" width="40%"></div>
                                    </div>
                           </div>
                      <br>
                    <div class="row nopadding" style="margin-top: 10px;width: 100%;border-style: solid; border-width: 0mm; border-color: rgb(220, 220, 220);border-radius: 10px;">

                        <div class="shadow p-3 mb-5 bg-white rounded nopadding" style="width: 100%; height: 100%;margin-top: 10px">
                            <div class="container">
                              <h0><i class="fas fa-check-square"></i> Hide</h0>
                              <form>
                                    <div class="checkbox">
                                      <label><input type="checkbox" value="checked" id="greenedges"><span style="font-weight: bold;color: green">{{ s1n }}</span></label>
                                      <label><input type="checkbox" value="checked" id="rededges"><span style="font-weight: bold;color: red">{{ s2n }}</span></label>
                                      <label><input type="checkbox" value="checked" id="grayedges"><span style="font-weight: bold;color: gray">Both</span></label>
                                    </div>
                              </form>
                               <button id="edgeschanger" class="btn btn-primary" style="display: none" type="button"></button>
                            </div>
                        </div>

                    </div>
            </div>
        </div>
    </div>
    <! report view>
    <div id="report" class="row center" style="display: none; border-style: solid; border-width: 0.5mm; border-radius: 10px; border-color: rgb(220, 220, 220); border-spacing: 0px; padding: 2mm; margin-bottom: 200px; margin-left: 5mm; margin-right: 5mm;">
        <!div class="w-100" id="networks2" style="border-style: solid; border-width: 0.5mm; border-color: rgb(220, 220, 220); width: 100%;height: 600px"><!/div>
        <!div id="p"><!/div>
        {#<div style="text-align: center"><h6>Figure 1 : The the distribution of the TF-Genen interaction across the two samples</h6></div>#}
        <!img src={{ url }} width="50%" class="center-block">

             <div class="col-8" style="border-style: solid; border-width: 0mm; border-color: red;padding-left: 0px; margin-top: 5; margin-bottom: 5px">
                <div class=""><p style="font-size: 15px"><i style="font-size: 17px; color: Tomato;" class="far fa-info-square"></i>&nbsp You can search genes of interest through the results (As comma-separated values).</p></div>
                <input placeholder="&nbsp&nbsp Genes to search in the results..." type="text" name="designation1" data-role="tagsinput" id="tags_id1" style="padding: 0px;margin: 0px;width: 500px;">
                <button id="changeData1" class="btn btn-primary" style="margin-bottom: 4px;border-style: solid; border-width: 0px; border-color: red" type="button" onclick="venn_update()">Search</button>
                 <p style="border-style: solid; border-width: 0mm; border-color: green;margin: 0px"> <span style="font-weight:bold;border-style: solid; border-width: 0mm; border-color: red">Examples :</span>NPC2, TYMP, LST1</p>
             </div>
             <div class="row">
                 <div class="btn-group center col-4" role="group" style="border-style: solid; border-width: 0mm; border-color: black">
                    <input id="viewvalue" value=0 style="display: none">
                    <button class="btn act" id="viewgene" style="width: 50%" role="button">gene view</button>
                    <button class="btn pas" id="viewedge"  style="width: 50%" role="button">edge view</button>
                 </div>
             </div>
            <div id="venn" class="center" style="width: 100%; text-align: center; height: 500px;padding: 0px;border-style: solid; border-width: 0.5mm; border-color:white"></div>
            <div id="venn22" class="center" style="display: none;width: 100%; text-align: center; height: 800px;padding: 0px"></div>
        <br><br>
         <div class="row">
             <div class="btn-group center col-4" role="group" style="border-style: solid; border-width: 0mm; border-color: black">
                <button class="btn act" id="viewgenetable" style="width: 50%" role="button">gene view</button>
                <button class="btn pas" id="viewedgetable"  style="width: 50%" role="button">edge view</button>
             </div>
         </div>
        <div>
            <button class="btn btn-success" id="downloadtable" style="float: right" type="button" onclick="DownloadTable()"><i class="fas fa-download"></i>&nbsp;Download</button>
        </div>
        <div id="tablegenes" style="display: block">
                <div style="text-align: center"><h6>Table 1 : Distribution of differentially regulated genes between the two samples</h6></div>
                <table border="0" class="dataframe table table-striped table-bordered" style="margin-bottom: 50px">
                      <thead>
                        <tr style="text-align: unset;">
                          <th>Differentially regulated genes in Sample I</th>
                          <th>Differentially regulated genes in Sample II</th>
                          <th>differentially regulated genes In Both Samples</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            {% for x in a %}
                              <pre>{{ x }}</pre>
                            {% endfor %}
                          </td>
                          <td>
                            {% for y in b %}
                              <pre>{{ y }}</pre>
                            {% endfor %}
                          </td>
                          <td>
                            {% for z in c %}
                              <pre>{{ z }}</pre>
                            {% endfor %}
                          </td>
                        </tr>
                      </tbody>
                </table>
        </div>
        <div id="tableedges" style="display: none">
                <div style="text-align: center"><h6>Table 1 : Distribution of differentially regulated genes between the two samples</h6></div>
                <table border="0" class="dataframe table table-striped table-bordered" style="margin-bottom: 50px">
                      <thead>
                        <tr style="text-align: unset;">
                          <th colspan="2">Differentially regulated genes in Sample I</th>
                          <th colspan="2">Differentially regulated genes in Sample II</th>
                          <th colspan="2">differentially regulated genes In Both Samples</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p style="text-align: center;font-weight: bold;font-size: 16px">Source</p>
                            {% for x in As %}
                              <pre>{{ x }}</pre>
                            {% endfor %}
                          </td>
                          <td>
                           <p style="text-align: center;font-weight: bold;font-size: 16px">Target</p>
                            {% for y in at %}
                              <pre>{{ y }}</pre>
                            {% endfor %}
                          </td>
                          <td>
                            <p style="text-align: center;font-weight: bold;font-size: 16px">Source</p>
                            {% for z in bs %}
                              <pre>{{ z }}</pre>
                            {% endfor %}
                          </td>
                          <td>
                            <p style="text-align: center;font-weight: bold;font-size: 16px">Target</p>
                            {% for x in bt %}
                              <pre>{{ x }}</pre>
                            {% endfor %}
                          </td>
                          <td>
                            <p style="text-align: center;font-weight: bold;font-size: 16px">Source</p>
                            {% for y in cs %}
                              <pre>{{ y }}</pre>
                            {% endfor %}
                          </td>
                          <td>
                            <p style="text-align: center;font-weight: bold;font-size: 16px">Target</p>
                            {% for z in ct %}
                              <pre>{{ z }}</pre>
                            {% endfor %}
                          </td>
                        </tr>
                      </tbody>
                </table>
        </div>


        <!img src={{ figure1_url }} width="50%" class="center-block"><!img>
    </div>

<script>
    $(document).ready(function(){

         setTimeout(function(){
             document.getElementById('network2_button').click();

         }, 5);

    });
</script>
<script>
var input = document.getElementById("tags_id");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("changeData").click();
  }
});
</script>
<script>
var input = document.getElementById("tags_id1");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("changeData1").click();
  }
});
</script>

<script>
$(document).ready(function(){
    {#var table = {{modules|safe}};#}
    {#var i;#}
    {#for (i = 0; i < table.length; i++) {#}
    {#      document.getElementById(table[i]).click();#}
    {#}#}
});
</script>
<script>
$(document).ready(function(){

$('#viewgenetable').click(function () {

    $("#viewgenetable").toggleClass("act pas");
    $("#viewedgetable").toggleClass("pas act");
    document.getElementById("tablegenes").style.display = 'block';
    document.getElementById("tableedges").style.display = 'none';

});

$('#viewedgetable').click(function () {

    $("#viewgenetable").toggleClass("pas act");
    $("#viewedgetable").toggleClass("act pas");
    document.getElementById("tablegenes").style.display = 'none';
    document.getElementById("tableedges").style.display = 'block';
});

});
</script>

<script>
document.querySelector('#networkscreenshot').addEventListener('click', function() {
  html2canvas(document.querySelector('#networks2'),{          background:'#fff', allowTaint: true , backgroundColor: "rgba(78,0,0,0)",removeContainer: true,
    onrendered: function(canvas) {
      // document.body.appendChild(canvas);
      return Canvas2Image.saveAsPNG(canvas);
    }
  });
});
</script>
<script>

$('#viewgene').click(function () {

    $("#viewgene").toggleClass("act pas");
    $("#viewedge").toggleClass("pas act");
    document.getElementById("viewvalue").value = 0;
    document.getElementById("changeData1").click();

});

$('#viewedge').click(function () {

    $("#viewgene").toggleClass("pas act");
    $("#viewedge").toggleClass("act pas");
    document.getElementById("viewvalue").value = 1;
    document.getElementById("changeData1").click();

});


function venn_update(){
    var current_user_post = {{ user|safe}};
    var viewtype =  document.getElementById("viewvalue").value;
    var array1 = $('#tags_id1').val().split(",");
    var array2 = array1.toString();
    var updatev = document.getElementById("venn")
    var div = document.getElementById('venn22');
    while(div.firstChild){
        div.removeChild(div.firstChild);
    }
    updatev.style.display = 'none'
    div.style.display = 'block'
    //document.getElementById("p1").innerText = array1;
    reqn1 = $.ajax({
        url : "{% rurl 'test-result-page' %}",
        type : "POST",
        data : {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            SearchedGenes: array2,
            k:1,
            userr:current_user_post,
            view: viewtype,



        },
        });
    reqn1.done(function (data){
        //var la = {{ la|safe }};
        //var lb = {{ lb|safe }};
        //var lc = {{ lc|safe }};

        var ln = data.ln;
        var la = data.la;
        var lb = data.lb;
        var lc = data.lc;

        var c = data.gc;
        var cc = JSON.parse(c);
        var a = data.ga;
        var aa = JSON.parse(a);
        var b = data.gb;
        var bb = JSON.parse(b);
        var n = data.gn;
        var nn = JSON.parse(n);

        var i;
        var ccc = "";
        for (i = 0; i < cc.length; i++) {
          ccc += cc[i] + '\n';
        }
        var i;
        var aaa = "";
        for (i = 0; i < aa.length; i++) {
          aaa += aa[i] + '\n';
        }
        var i;
        var bbb = "";
        for (i = 0; i < bb.length; i++) {
          bbb += bb[i] + '\n';
        }
        var i;
        var nnn = "";
        for (i = 0; i < nn.length; i++) {
          nnn += nn[i] + '\n';
        }
        //document.getElementById("p1").innerText = text;

        anychart.onDocumentReady(function () {
          // set chart theme
          anychart.theme('default');
          // var data = [
          //   {
          //     x: 'A',
          //     value: la,
          //     name: 'Name: '+'{{ s1n|safe }}'+'\n Number of genes: '+ '{{ la|safe }}'+'\n'+ aaa,
          //     tooltipTitle: 'Gene only DE in this sample',
          //     normal: {fill: "#ee957f 0.5"},
          //   },
          //   {
          //     x: 'B',
          //     value: lb,
          //     name: 'Name: '+'{{ s2n|safe }}'+'\n Number of genes: '+ '{{ lb|safe }}'+'\n'+ bbb,
          //     tooltipTitle: 'Gene only DE in this sample',
          //     normal: {fill: "#8ecafb 0.5"},
          //   },
          //   {
          //     x: ['A', 'B'],
          //     value: lc,
          //     name: 'Number of genes: '+ '{{ lc|safe }}'+'\n'+ ccc,
          //     custom_field: cc,
          //     tooltipTitle: 'DE in both samples',
          //     {#tooltipDesc: 'DE in both samples',#}
          //     normal: {fill: "#9fdebe 0.5"},
          //   },
          // ];

              var data = [
                {
                  x: 'A',
                  value: 100,
                  name: '{{ s1n|safe }}'+ '({{ la|safe }})',
                  normal: {fill: "#8ecafb 0.7"},
                  hovered: {fill: "#8ecafb 1"},
                  selected: {fill: "#8ecafb 1"}
                },
                {
                  x: 'B',
                  value: 100,
                  name: '{{ s2n|safe }}'+ '({{ lb|safe }})',
                  normal: {fill: "#ffeaa6 0.7"},
                  hovered: {fill: "#ffeaa6 1"},
                  selected: {fill: "#ffeaa6 1"}
                },
                {
                  x: 'C',
                  value: 100,
                  name: 'Searched Genes'+'('+ln+')'+'\n'+ nnn,
                  normal: {fill: "#ee957f 0.7"},
                  hovered: {fill: "#ee957f 1"},
                  selected: {fill: "#ee957f 1"}
                },
                {
                  x: ['A', 'C'],
                  value: 50,
                  name: '('+la+')'+'\n'+ aaa,
                  normal: {fill: "#a98caf 0.6"},
                  hovered: {fill: "#a98caf 1"},
                  selected: {fill: "#a98caf 1"},
                  hatchFill: {
                    type:"weave",
                    color: "#8b6b92"
                  }
                },
                {
                  x: ['A', 'B'],
                  name: '({{ la|safe }})',
                  value: 50,
                  normal: {fill: "#9fdebe 0.8"},
                  hovered: {fill: "#9fdebe 1"},
                  selected: {fill: "#9fdebe 1"},
                  hatchFill: {
                    type:"weave",
                    color: "#83c3a3"
                  }
                },
                {
                  x: ['B', 'C'],
                  name: '('+lb+')'+'\n'+ bbb,
                  value: 50,
                  normal: {fill: "#f5b57c 0.8"},
                  hovered: {fill: "#f5b57c 1"},
                  selected: {fill: "#f5b57c 1"},
                  hatchFill: {
                    type:"weave",
                    color: "#d09259"
                  }
                },
                {
                  x: ['A', 'B', 'C'],
                  name: '('+lc+')'+'\n'+ ccc,
                  value: 25,
                  label: {enabled:true, fontStyle: 'normal'},
                  normal: {fill: "#8392ab 0.9"},
                  hovered: {fill: "#8392ab 1"},
                  selected: {fill: "#8392ab 1"},
                  hatchFill: {
                    type:"percent40",
                    color: "#5f6b7d"
                  }
                }
              ];




          // create venn diagram
          var chart = anychart.venn(data);

          // set chart title
          chart
            .title()
            .enabled(true)
            .fontFamily('Roboto, sans-serif')
            .fontSize(10)
            .padding({ bottom: 30 })
            .text('Distribution of differentially regulated genes between the two samples');

          // set chart stroke
          chart.stroke('1 #fff');

          // set labels settings
          chart
            .labels()
            .fontSize(16)
            .fontColor('#5e6469')
            .hAlign("center")
            .vAlign("center")
            .fontFamily('Roboto, sans-serif')
            .fontWeight('500')
            .format('{%Name}');

          // set intersections labels settings
          chart
            .intersections()
            .labels()
            .fontStyle('italic')
            .fontColor('#fff')
            .format('{%Name}');

          // disable legend
          chart.legend(false);


          // set tooltip settings
          chart
            .tooltip()
            .titleFormat('{%tooltipTitle}')
            .format("{%tooltipDesc}")
            .background().fill("#000 0.5");

          // set container id for the chart
          chart.container('venn22');

          // initiate chart drawing
          chart.draw();
        });
    });
}
</script>
<script>
var la = {{ la|safe }};
var lb = {{ lb|safe }};
var lc = {{ lc|safe }};

anychart.onDocumentReady(function () {
  // set chart theme
  anychart.theme('default');
  // var data = [
  //   {
  //     x: 'B',
  //     value: 100,
  //     name: 'Not found',
  //     tooltipTitle: 'Not found',
  //     normal: {fill: "#ee958f 0.5"},
  //   },
  //   {
  //     x: ['A','C'],
  //     value: 20,
  //     name: 'Not found',
  //     tooltipTitle: 'Not found',
  //     normal: {fill: "#ee958f 0.5"},
  //   },
  //   {
  //     x: ['B','C'],
  //     value: 20,
  //     name: 'Not found',
  //     tooltipTitle: 'Not found',
  //     normal: {fill: "#ee958f 0.5"},
  //   },
  //   {
  //     x: ['A','B','C'],
  //     value: 30,
  //     name: 'Not found',
  //     tooltipTitle: 'Not found',
  //     normal: {fill: "#ee958f 0.5"},
  //   },
  //
  //   {
  //     x: 'A',
  //     value: 100,
  //     name: 'Name: '+'{{ s1n|safe }}'+'\n Number of genes: '+ '{{ la|safe }}',
  //     tooltipTitle: 'Gene only DE in Smaple II',
  //     normal: {fill: "#ee957f 0.5"},
  //   },
  //   {
  //     x: 'C',
  //     value: 100,
  //     name: 'Name: '+'{{ s2n|safe }}'+'\n Number of genes: '+ '{{ lb|safe }}',
  //     tooltipTitle: 'Gene only DE in Smaple I',
  //     normal: {fill: "#8ecafb 0.5"},
  //   },
  //   {
  //     x: ['A', 'B'],
  //     value: 20,
  //     name: '{{ lc|safe }}',
  //     tooltipTitle: 'Commun',
  //     tooltipDesc: 'DE in both samples',
  //     normal: {fill: "#9fdebe 0.5"},
  //   },
  // ];

    var data = [
        {
          x: 'A',
          value: 200,
          name: '{{ s1n|safe }}'+'({{ la|safe }})',
          normal: {fill: "#8ecafb 0.7"},
          hovered: {fill: "#8ecafb 1"},
          selected: {fill: "#8ecafb 1"}
        },
        {
          x: 'B',
          value: 200,
          name: '{{ s2n|safe }}'+ '({{ lb|safe }})',
          normal: {fill: "#ffeaa6 0.7"},
          hovered: {fill: "#ffeaa6 1"},
          selected: {fill: "#ffeaa6 1"}
        },
        {
          x: 'C',
          value: 200,
          name: 'Searched Genes(0)',
          normal: {fill: "#ee957f 0.7"},
          hovered: {fill: "#ee957f 1"},
          selected: {fill: "#ee957f 1"}
        },
        {
          x: ['A', 'C'],
          value: 20,
          name: '',
          normal: {fill: "#a98caf 0.6"},
          hovered: {fill: "#a98caf 1"},
          selected: {fill: "#a98caf 1"},
          hatchFill: {
            type:"weave",
            color: "#8b6b92"
          }
        },
        {
          x: ['A', 'B'],
          name: '({{ lc|safe }})',
          value: 20,
          normal: {fill: "#9fdebe 0.8"},
          hovered: {fill: "#9fdebe 1"},
          selected: {fill: "#9fdebe 1"},
          hatchFill: {
            type:"weave",
            color: "#83c3a3"
          }
        },
        {
          x: ['B', 'C'],
          name: '',
          value: 20,
          normal: {fill: "#f5b57c 0.8"},
          hovered: {fill: "#f5b57c 1"},
          selected: {fill: "#f5b57c 1"},
          hatchFill: {
            type:"weave",
            color: "#d09259"
          }
        },
        {
          x: ['A', 'B', 'C'],
          name: '',
          value: 30,
          label: {enabled:true, fontStyle: 'normal'},
          normal: {fill: "#8392ab 0.9"},
          hovered: {fill: "#8392ab 1"},
          selected: {fill: "#8392ab 1"},
          hatchFill: {
            type:"percent40",
            color: "#5f6b7d"
          }
        }
      ];

  // create venn diagram
  var chart = anychart.venn(data);

  // set chart title
  chart
    .title()
    .enabled(true)
    .fontFamily('Roboto, sans-serif')
    .fontSize(12)
    .padding({ bottom: 30 })
    .text('Distribution of differentially regulated genes between the two samples');

  // set chart stroke
  chart.stroke('0 #fff');

  // set labels settings
  chart
    .labels()
    .fontSize(16)
    .fontColor('#5e6469')
    .hAlign("center")
    .vAlign("center")
    .fontFamily('Roboto, sans-serif')
    .fontWeight('500')
    .format('{%Name}');

  // set intersections labels settings
  chart
    .intersections()
    .labels()
    .fontStyle('italic')
    .fontColor('#fff')
    .format('{%Name}');

  // disable legend
  chart.legend(false);


  // set tooltip settings
  chart
    .tooltip()
    .titleFormat('{%tooltipTitle}')
    .format("{%tooltipDesc}")
    .background().fill("#000 1");

  // set container id for the chart
  chart.container('venn');

  // initiate chart drawing
  chart.draw();
});

</script>





<script>
function DownloadTable(){
    console.log('You are downloading the table ...')
    window.location.href = "{% rurl 'test-download' %}" + "?user=" + {{ user|safe}};
};
</script>

<script>
function plot(val){
    var current_user_post = {{ user|safe}}
    var plu = "+"
    var id = val.toString();
    var ID = val.toString()+plu.toString()+val.toString();
    reqq = $.ajax({
        url : "{% rurl 'test-result-page' %}",
        type : "POST",
        data : {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            ModuleId: id,
            SearchedGenes:'NoGene',
            userr:current_user_post,
            k:0,


        },
    });
        reqq.done(function (data){
          var n = data.n_combined
          var e = data.e_combined
          // create an array with nodes
          var edges = new vis.DataSet(e);
          var nodes = new vis.DataSet(n);

          console.log(n);

            // create a network
            var container = document.getElementById(ID);
            var data = {
              nodes: nodes,
              edges: edges,
            };
              var options = {
                physics:{
                enabled: true,
                stabilization: false,
                wind: { x: 0.2, y: 0.2 },
                },
                interaction: {
                          navigationButtons: true,
                          keyboard: true,
                        },

                 nodes: {
                    font: {

                    }
              }


              };
            var network = new vis.Network(container, data, options);
            network.fit();

        });
};

</script>

    <script>
        function network_switch() {
          var t = document.getElementById("table");
          var n = document.getElementById("network");
          var r = document.getElementById("report");
          var rb = document.getElementById("report_button");
          var tb = document.getElementById("table_button");
          var nb = document.getElementById("network_button");
          var n2 = document.getElementById("network2");
          var n2b = document.getElementById("network2_button");
          if (n.style.display === "none") {
              t.style.display = "none";
              n.style.display = "block";
              r.style.display = "none";
              n2.style.display = "none";
              n2b.style.background = ''
              rb.style.background = ''
              tb.style.background = ''
              nb.style.background = '#215802'
          } else {


          }
        }
    </script>
    <script>
        function changeData(){
            //document.getElementById("p1").innerText = 'Here we go';
            nodes.update({id: 1, color: {background: "orange"}});
        }
    </script>
    <script>
        function network2_switch() {
          var t = document.getElementById("table");
          //var n = document.getElementById("network");
          var r = document.getElementById("report");
          var n2 = document.getElementById("network2");
          var n2b = document.getElementById("network2_button");
          var rb = document.getElementById("report_button");
          var tb = document.getElementById("table_button");
          //var nb = document.getElementById("network_button");
          if (n2.style.display === "none") {
              t.style.display = "none";
              //n.style.display = "none";
              r.style.display = "none";
              n2.style.display = "block";
              rb.style.background = ''
              tb.style.background = ''
              //nb.style.background = ''
              n2b.style.background = '#215802'
          } else {
          }
            var nn = {{ NODES|safe }};
            var ee = {{ EDGES|safe }};
            var edges = new vis.DataSet(ee);
            var nodes = new vis.DataSet(nn);
            // create a network
            var container = document.getElementById("networks2");
            var data = {
              nodes: nodes,
              edges: edges,
            };
            var options = {
                physics:{
                enabled: true,
                stabilization: false,
                wind: { x: 0, y: 0 },
                },
                interaction: {
                          navigationButtons: true,
                          keyboard: true,
                        },
            };
            var network = new vis.Network(container, data, options);
            network.fit();
              {#network.on("stabilizationProgress", function (params) {#}
              {#    //document.getElementById("networks2").style.display = "none";#}
              {#    //document.getElementById("network_spinner").style.display = "block";#}
              {#});#}
              {#network.once("stabilizationIterationsDone", function () {#}
              {#  setTimeout(function () {#}
              {#    //document.getElementById("networks2").style.display = "block";#}
              {#    //document.getElementById("network_spinner").style.display = "none";#}
              {#  }, 0);#}
              {#});#}
            $('#physicson').click(function () {

                      $("#physicson").toggleClass("act pas");
                      $("#physicsoff").toggleClass("pas act");
                      network.setOptions({
                         physics: true
                      });
            });
            $('#physicsoff').click(function () {

                      $("#physicson").toggleClass("pas act");
                      $("#physicsoff").toggleClass("act pas");
                      network.setOptions({
                         physics: false
                      });
            });

            $('#changeData').click(function () {

                var array = $('#tags_id').val().split(",");
                array.forEach(function (gene, index) {
                         console.log(gene, index);
                       var items = nodes.get({
                          filter: function (item) {
                            return (item.label == gene.trim());
                          }
                        });
                       var type = items.length;
                       console.log(type);
                       if (items.length === 0 ) {
                           // document.getElementById("p").innerText += 'The gene '+gene+' is not found. \r\n';
                           //console.log('NOT Found');
                       } else {
                            nodes.remove(items[0].id)
                            nodes.add({
                                id: items[0].id,
                                label: items[0].label,
                                color: '#EEEE00',
                                shape: "circle"
                            });
                        }
                });


            });

                var items1 = edges.get({
                  filter: function (item) {
                    return (item.color == '#008000');
                  }
                });

                var items2 = edges.get({
                  filter: function (item) {
                    return (item.color == 'red');
                  }
                });
                var items3 = edges.get({
                  filter: function (item) {
                    return (item.color == 'gray');
                  }
                });

            var switcher_e = 0;
            var noncon1 = []
            var noncon2 = []
            var noncon3 = []
            $('#greenedges').click(function () {
              document.getElementById("physicson").click()
              var checkBox1 = document.getElementById("greenedges");

                  if (checkBox1.checked == true){
                    edges.remove(items1);
                    console.log('case1.1');
                    noncon1 = nodes.get({
                        filter: function(node) {
                            var connEdges = edges.get({
                                filter: function(edge) {
                                    return(
                                        (edge.to == node.id) || (edge.from == node.id));
                                }});
                            return connEdges.length < 1;
                        }
                    });
                    nodes.remove(noncon1);
                    console.log(noncon1);
                  } else if (checkBox1.checked == false) {
                    console.log('case1.2');
                    console.log(noncon1);
                    nodes.add(noncon1);
                    edges.add(items1);
                  }

            });


            $('#rededges').click(function () {
                  document.getElementById("physicson").click()
                  var checkBox2 = document.getElementById("rededges");
                  if (checkBox2.checked == true){
                    console.log('case2.1');
                    edges.remove(items2);
                    noncon2 = nodes.get({
                        filter: function(node) {
                            var connEdges = edges.get({
                                filter: function(edge) {
                                    return(
                                        (edge.to == node.id) || (edge.from == node.id));
                                }});
                            return connEdges.length < 1;
                        }
                    });
                    nodes.remove(noncon2);
                    console.log(items2);
                  } else if (checkBox2.checked == false) {
                    console.log('case2.2');
                    console.log(noncon2);
                    nodes.add(noncon2);
                    edges.add(items2);
                  }
            });

            $('#grayedges').click(function () {
                   document.getElementById("physicson").click()
                   var checkBox3 = document.getElementById("grayedges");
                   if (checkBox3.checked == true){
                    edges.remove(items3);

                    noncon3 = nodes.get({
                        filter: function(node) {
                            var connEdges = edges.get({
                                filter: function(edge) {
                                    return(
                                        (edge.to == node.id) || (edge.from == node.id));
                                }});
                            return connEdges.length < 1;
                        }
                    });
                    nodes.remove(noncon3);
                    console.log(noncon3);
                  } else if (checkBox3.checked == false) {
                    console.log(noncon3);
                    nodes.add(noncon3);
                    edges.add(items3);
                  }
            });
        }
    </script>
    <script>
        function table_switch() {
          console.log('WE ARE HERE');
          var t = document.getElementById("table");
          var tb = document.getElementById("table_button");
          var n = document.getElementById("network");
          var r = document.getElementById("report");
          var rb = document.getElementById("report_button");
          var n2 = document.getElementById("network2");
          var n2b = document.getElementById("network2_button");
          if (t.style.display === "none") {
              t.style.display = "block";
              n.style.display = "none";
              r.style.display = "none";
              n2.style.display = "none";
              n2b.style.background = ''
              rb.style.background = ''
              tb.style.background = '#215802'
          } else {}
          var modules = {{modules|safe}};
          var N = {{n_combined|safe}};
          var E = {{e_combined|safe}};
          console.log(modules);
          var i;
          for (i = 0; i < modules.length; i++) {
                  var val = modules[i];
                  var plu = "+";
                  var ID = val.toString()+plu.toString()+val.toString();
                  console.log(ID);
                  //document.getElementById(table[i]).click();
                  var n = N[i];
                  var e = E[i];
                  // create an array with nodes
                  var edges = new vis.DataSet(e);
                  var nodes = new vis.DataSet(n);


                    // create a network
                    var container = document.getElementById(ID);
                    var data = {
                      nodes: nodes,
                      edges: edges,
                    };
                      var options = {
                        physics:{
                        enabled: true,
                        stabilization: false,
                        wind: { x: 0, y: 0 },
                        },
                        interaction: {
                                  navigationButtons: true,
                                  keyboard: true,
                                },

                         nodes: {
                            font: {

                            }
                      }


                      };
                    var network = new vis.Network(container, data, options);
                    network.fit();
          }
        }

   </script>
    <script>
        function report_switch() {
          var t = document.getElementById("table");
          var tb = document.getElementById("table_button");
          var n = document.getElementById("network");
          var r = document.getElementById("report");
          var rb = document.getElementById("report_button");
          var n2 = document.getElementById("network2");
          var n2b = document.getElementById("network2_button");
          if (r.style.display === "none") {
              t.style.display = "none";
              n.style.display = "none";
              r.style.display = "block";
              n2.style.display = "none";
              n2b.style.background = ''
              rb.style.background = '#215802'
              tb.style.background = ''
          } else {

          }
        }

   </script>


          <!-- Footer -->
    <footer class="footer-custom bg-dark footer navbar-fixed-bottom">

      <!-- Copyright -->
{#      <div class="footer-copyright text-center py-3">© 2020 Copyright:#}
{#        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>#}
{#      </div>#}
            <div class="container">
                <p class="m-0 text-center text-white">Di-Niro | version 1.0.0 | &copy2021 <a style="text-decoration:none;" href="https://mdbootstrap.com/"> cosy.bio</a> </p>
            </div>

      <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <!-- Footer -->
  </body>


</html>
